<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<title>Channel</title>
		
		<script src="{{ url_for('static', filename='main.js') }}" charset="utf-8"></script>
		
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>


		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
		<link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&family=Open+Sans&display=swap" rel="stylesheet">

	</head>
	<body class="container">
		<div class="header">
			<h2>{{ channel['name'] }}</h2>
			<a href="/"><span id="leave"role="button">&#8592;</span></a>
		</div>

		<div class="chat_window" id="messages">
			{% if 'messages' in channel %}
			{% for message in channel['messages'].values() %}
			<div class="message_container" id="{{ message['id'] }}">
				<span class="username"> {{ message['username'] }} </span>
				<button class="delete_message" data-message-id="{{ message['id'] }}">DELETE</button>
				<p class="message_text"> {{ message['message_text'] }} </p>
				<span class="time_stamp"> {{ message['time'] }} </span>
			</div>
			{% endfor %}
			{% endif %}
		</div>

		<div class="input_field">
			<input id="message" type="text" autocomplete="off" autofocus placeholder="New Message">
			<button id="send">Send</button>
		</div>
	</body>
</html>